.banner {
    background-color: black;
    padding: 40px;
    position: relative;
}

.image{
    border-radius: 50%;
    width: 15%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 43%;
}

.text-name{     
    position: relative;
    top: 50%;
    left: 33%;
    color: antiquewhite;
}

.text-sobre{
    color: black;
    text-align: center;
}