.ladding-page{
    background-color: black;
    text-align: center;
}

.sobre{
    color: white;
    text-align: center;
}

.anotacoes{
    color: white;
    text-align: center;
}

.blog{
    color: white;
    text-align: center;
}
