.ladding-page{
    background-color: rgb(199, 198, 198);
    text-align: center;
}

.login{
    background-color: rgb(199, 198, 198);
    color: black;
}

.sobre{
    color: black;
    text-align: center;
}

.anotacoes{
    color: black;
    text-align: center;
}

.blog{
    color: black;
    text-align: center;
}
